

#title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#image{
    height: 350px;
}

#card{
    background-color: #212121;
    border: 1px solid #CCCCCC;
}
