

#title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#image{
    height: 350px;
}

#card{
    background-color: #212121;
    border: 1px solid #CCCCCC;
}

a{
    text-decoration: none;
    color: #EEEEEE;
}
.previousClass{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.nextClass{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
#marquee1{
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}